{% extends 'base.html' %}

{% load humanize %}
{% load static %}

{% block title %}
    {{ page.goal }} - 搜索全文
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/Module/banner.css' %}">
    <link rel="stylesheet" href="{% static 'css/Module/hotopic.css' %}">
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">搜索结果（共{{ page.count }}条）</li>
    <li class="breadcrumb-item active">{{ page.goal }}</li>
{% endblock %}

{% block NewTags %}
{% endblock %}

{% block SideActive %}
{% endblock %}

{% block content %}
    <table class="table table-striped mb-4">
        <thead class="thead-inverse">
        <tr>
            <th>Topic</th>
            <th>Starter</th>
            <th>Views</th>
            <th>Last Update</th>
        </tr>
        </thead>
        <tbody>
        {% for topic in results %}
            {% url 'topic_posts' topic.board.id topic.id as topic_url %}
            <tr>
                <td>
                    <p class="mb-0">
                        <span>
                            <a href="{% url 'search' %}?tag={{ topic.tag.all|first }}"
                               class="badge badge-primary">{{ topic.tag.all|first }}</a>
                        </span>
                        <a href="{% url 'topic_posts' topic.board.id topic.id %}">{{ topic.subject }}</a>
                    </p>
                    <small class="text-muted">
                        Pages:
                        {% for i in topic.get_page_range %}
                            <a href="{{ topic_url }}?page={{ i }}">{{ i }}</a>
                        {% endfor %}
                        {% if topic.has_many_pages %}
                            ... <a href="{{ topic_url }}?page={{ topic.get_page_count }}">Last Page</a>
                        {% endif %}
                    </small>
                </td>
                <td class="align-middle">{{ topic.starter.username }}</td>
                <td class="align-middle">{{ topic.views }}</td>
                <td class="align-middle">{{ topic.last_updated|naturaltime }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include 'includes/pagination.html' %}

{% endblock %}

{% block javascript %}
    <script src="{% static 'js/Module/banner.js' %}"></script>
    <script src="{% static 'js/Module/hotopic.js' %}"></script>
{% endblock %}